span:hover{
 background-color: black;
 color:white;
}
textarea:active{
    width: 200px;
    height:200px;
    background-color: antiquewhite;
}



button:active{
    background-color: aqua;}

.red:checked{
    background-color: red;
}