@font-face {
    font-family: 'Yeongdo-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.2/Yeongdo-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
.div {
    font-family:'Yeongdo-Rg';
    font-weight: 500;
}



    /*font-family: 'Mungyeong-Gamhong-Apple';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/Mungyeong-Gamhong-Apple.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    /*font-family:'Mungyeong-Gamhong-Apple';
    font-weight: 300;
}

   /* font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
*/
.div1{
    font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;

}
